version: '3.5'

services:
  calculations_db:
    image: postgres:13-alpine
    restart: always
    hostname: calculations-db
    container_name: calculations-db
    networks:
      - private
    environment:
      - POSTGRES_DB=phaedra2
      - POSTGRES_USER=phaedra_usr
      - POSTGRES_PASSWORD=phaedra_usr
    volumes:
      - ./db/1-create-tables.sql:/opt/1-create-tables.sql
      - ./sh:/docker-entrypoint-initdb.d/
    ports:
      - 6005:5432
  calculation_service:
    image: phaedra2-calculationservice:0.0.1-SNAPSHOT
    hostname: phaedra2-calculationservice
    container_name: phaedra2-calculationservice
    networks:
      - private
      - phaedra2
    depends_on:
      - calculations_db
    environment:
      - DB_URL=jdbc:postgresql://calculations-db:5432/phaedra2?currentSchema=calculations
      - DB_USER=phaedra_usr
      - DB_PASSWORD=phaedra_usr
      - JAVA_OPTS=
        -DSERVICE_REGISTRY=http://phaedra2-serviceregistry:8761/eureka/
    ports:
      - 3005:3005

networks:
  private:
    name: private
    external: false
  phaedra2:
    external:
      name: phaedra2
