keycloak-base-url: http://keycloak:8080

server:
  servlet:
    context-path: /phaedra/calculation-service
  port: 6010

spring:
  cloud:
    kubernetes:
      enabled: false
  application:
    name: phaedra-calculation-service
  security:
    oauth2:
      client:
        registration:
          keycloak:
            provider: keycloak
#            client-id: ???
#            client-secret: ???
            authorization-grant-type: client_credentials
        provider:
          keycloak:
            authorization-uri: ${keycloak-base-url}/auth/realms/phaedra2/protocol/openid-connect/auth
            token-uri: ${keycloak-base-url}/auth/realms/phaedra2/protocol/openid-connect/token
            user-info-uri: ${keycloak-base-url}/auth/realms/phaedra2/protocol/openid-connect/userinfo
            jwk-set-uri: ${keycloak-base-url}/auth/realms/phaedra2/protocol/openid-connect/certs
      resourceserver:
        jwt:
          jwk-set-uri: ${keycloak-base-url}/auth/realms/phaedra2/protocol/openid-connect/certs