server:
  servlet:
    context-path: /phaedra/calculation-service
  port: 6010

spring:
  cloud:
    kubernetes:
      enabled: false
  application:
    name: phaedra-calculation-service
  liquibase:
    enabled: false

eureka:
  client:
    enabled: true


