server:
  port:
    6010

spring:
  cloud:
    kubernetes:
      enabled: false
  application:
    name: phaedra-calculation-service

eureka:
  client:
    enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"